{% extends "base" %}


{% block content %}
    <div class="container">
        <div class="card">
            <h3>Start searching up here and find the tool you desire.</h3>
        </div>
    </div>
{% endblock content %}
